torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2

transformers==4.39.3
accelerate==0.28.0
huggingface-hub==0.20.3

numpy==1.26.4
pandas==2.2.0
pyarrow==14.0.2

mlcroissant==1.0.4
requests==2.32.3
tqdm==4.66.4

safetensors==0.4.2
protobuf==4.25.3

GitPython==3.1.42
psutil==5.9.8
